<div class="Slider">
  <div class="Slide">1</div>
  <div class="Slide">2</div>
  <div class="Slide">3</div>
  <div class="Slide">4</div>
  <div class="Slide">5</div>
  <div class="Slide">6</div>
</div>
