<header>

<%= render 'shared/logo' %>

<div id="login">

  <% if user_signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <%= t(".sign_out", default: "Log out") %>
  <% end %>
  <% else %>
  <%= link_to t(".sign_in", default: "Login with Discogs"), user_discogs_omniauth_authorize_path, id: "login" %>
  <% end %>
</div>

</header>