<%= render "shared/last_findings", findings: Finding.all %>
<div class="homepage-lower">
  <hr>
  <div class="band c12 fl">
    <div class="c4 fl">
      <h2>Many marketplaces,<br>one search</h2>
    </div>
    <div class="marketplaces c7 title tal ml0 fl">
          Amazon
      <br>Ebay
      <br>Leboncoin
      <br>Craiglist
      <br>Priceminister
    </div>
  </div>
  <hr>
  <div class="band x c12">
    <div class="c9 title">
      <h1>1. Sync your Discogs wantlist</h1>
    </div>
     <div class="c3 x xac xje">
        <div class="c4 mr2">
        <%= image_tag "https://www.discogs.com/images/brand/discogs-logo.svg", width: "100%"%>
        </div>
     </div>
  </div>
  <div class="band x c12">
    <div class="c9 title">
      <h1>2. Pick your dig</h1>
    </div>
    <div class="c3 x xac xje">
      <div class="c4 mr2">
        <h1>✓</h1>
        </div>
     </div>

  </div>
  <div class="band x c12">
    <div class="c9 title">
      <h1>3. Get an alert the minute it's on sale</h1>
    </div>
    <div class="c3 x xac xje">
      <div class="c4 mr2">
        <div class="x button button-go">
          <%= link_to t(".sign_in", default: "GO"), user_discogs_omniauth_authorize_path %>
        </div>
      </div>
     </div>
  </div>

  <!-- <div class="x p4">
    <div class="c7 co1">
      <h2>Digdog helps you find rare vinyls without the hassle of entering the same search into every website day after day</h2>
    </div>
    <div class="photo c4">
      <img src="https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="record">
    </div> -->

  <!-- <div class="box">
    <div class="content-area">
      <h2>Digdog helps you find rare vinyls<br> without the hassle of entering <br>the same search terms into<br> every website over and over</h2>
    </div>
    <div class="content-area bottom-border record-background">
      <div>
        <h2>Many marketplaces,<br>One search<h2>
      </div>
      <h1><br>Amazon<br>Ebay<br>PriceMinister<br>Leboncoin</h1>
    </div>
  </div>
  <div class="box">
    <div class="content-area bottom-border">
      <h2><strong>How it works</strong></h2>
    </div>
    <div class="content-area">

    </div>
  </div>
  <div class="box">
    <div class="content-area">
      <h2><strong>How it works</strong></h2>
    </div>
    <div class="content-area bottom-border">
        <h2>Many marketplaces,<br>One search button<br></h2>
    </div>
  </div>
</div>

 -->
