<%= render "shared/last_findings", findings: Finding.all %>
<div class="homepage-lower">
  <hr>
  <div class="band c12 fl">
    <div class="c4 fl">
      <h2>Many marketplaces,<br>one search</h2>
    </div>
    <div class="marketplaces c7 title tal ml0 fl">
          Amazon
      <br>Ebay
      <br>Leboncoin
      <br>Craiglist
      <br>Priceminister
    </div>
  </div>
  <hr>
  <div class="band x c12">
    <div class="c9 title psr">
      <sup>1.</sup>
      <h1>Sync your Discogs wantlist</h1>
    </div>
     <div class="c3 x xac xje">
        <div class="c6 mr2 tac" >
        <a href="<%= user_discogs_omniauth_authorize_path %>"> <%= image_tag "discogs.png", width: "100%"%></a>

        </div>
     </div>
  </div>
  <div class="band x c12">
    <div class="c9 title psr">
      <sup>2.</sup>
      <h1>Pick a record to dig</h1>
    </div>
    <div class="c3 x xac xje">
      <div class="c6 mr2 tac">
        <h1>✓</h1>
        </div>
     </div>

  </div>
  <div class="band x c12">
    <div class="c9 title psr">
      <sup>3.</sup>
      <h1>Get an alert the minute it's on sale</h1>
    </div>
    <div class="c3 x xac xje">
      <div class="c6 mr2 tac">
        <div class="button">
        <h2 class="m0">
          <%= link_to t(".sign_in", default: "Start"), user_discogs_omniauth_authorize_path %>

        </h2>
        </div>
      </div>
     </div>
  </div>
</div>
