<div class="banner-text">
  <h1>Track down <br> rare records <br> 24/7</h1>
</div>

<div class="content-body">
  <ol>
    <li>Sync your Discogs wantlist</li>
    <li>Choose records to dig 24/7 on the major online marketplaces</li>
    <li>Receive an alert the minute a record goes on sale</li>
    <li>Buy your record...then keep digging</li>
  </ol>
</div>


