
<%= render "shared/last_findings", findings: Finding.all %>

<div class="x m4">
  <div class="banner-text title c10">
    Track down<br>rare records<br>24/7
  </div>
</div>

<div class="homepage-lower">
  <hr>
  <div class="x p4">
    <div class="c4">
      <h2>Many marketplaces,<br>one search</h2>
    </div>
    <div class="c7 title tal">
      Amazon
      <br>Ebay
      <br>Leboncoin
      <br>Priceminister
    </div>
  </div>
  <hr>
  <div class="x p4">
    <div>
      <h1>Sync your Discogs wantlist</h1>
    </div>
     <div class="photo">
        <img src="https://formatvrevista.files.wordpress.com/2016/02/discogs1.png?w=300&h=300" alt="discogs logo">
     </div>
  </div>
  <div class="x p4">
    <div>
      <h1>Pick your digs</h1>
    </div>
    <div>
      <%= octicon "check", :height => 150,  :class => "right left", :"aria-label" => "check" %>
    </div>
  </div>
  <div class="x p4">
    <div>
      <h1>Get an alert the minute a record goes on sale</h1>
    </div>
    <div>
      <%= octicon "device-mobile", :height => 150,  :class => "right left", :"aria-label" => "device-mobile" %>
    </div>
  </div>
  <div class="x p4">
  <h1><%= link_to "Go!", "#", class: "btn btn-primary tar" %></h1>
  </div>

  <!-- <div class="x p4">
    <div class="c7 co1">
      <h2>Digdog helps you find rare vinyls without the hassle of entering the same search into every website day after day</h2>
    </div>
    <div class="photo c4">
      <img src="https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="record">
    </div> -->

  <!-- <div class="box">
    <div class="content-area">
      <h2>Digdog helps you find rare vinyls<br> without the hassle of entering <br>the same search terms into<br> every website over and over</h2>
    </div>
    <div class="content-area bottom-border record-background">
      <div>
        <h2>Many marketplaces,<br>One search<h2>
      </div>
      <h1><br>Amazon<br>Ebay<br>PriceMinister<br>Leboncoin</h1>
    </div>
  </div>
  <div class="box">
    <div class="content-area bottom-border">
      <h2><strong>How it works</strong></h2>
    </div>
    <div class="content-area">

    </div>
  </div>
  <div class="box">
    <div class="content-area">
      <h2><strong>How it works</strong></h2>
    </div>
    <div class="content-area bottom-border">
        <h2>Many marketplaces,<br>One search button<br></h2>
    </div>
  </div>
</div>

 -->
