<% if findings.any? %>
  <div class="slider">
    <% findings.each do |finding| %>
      <% parent_record = Record.find(finding.record_id) %>
      <% unless parent_record.images.nil? %>
        <% parent_record.images.each do |image| %>
          <div class="slide" data-title="<%= parent_record.title %>" data-provider="<%= finding.provider %>">
            <%= image_tag image["uri"] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="current-title"></div>
    <div class="current-provider"></div>
  </div>
<% end %>
