<div class="slider">
  <% @records.each do |record| %>
    <div class="record wanted found">
      <% unless record.images.nil? %>
        <% record.images.each do |image| %>
          <div class="slide"><%= image_tag image["uri"] %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


