<% if status == "found" %>
  <span class="found">
    found
  </span>
<% elsif status == "wanted" %>
  <span class="wanted">
    ging<span>.</span><span>.</span><span>.</span>
  </span>
<% elsif status == "none" %>
  <span class="default">
    <%= link_to record_wants_path(record), remote: true, method: :post, class: "wsnw" do %>
    it <span>✓</span>
    <% end %>
  </span>
<% end %>