<% @records.each do |record| %>


	<div class="record">
	<p><%= record.artists[0]["name"] %> — <%= record.title %></p>
	<% unless record.images.nil? %>
		<% record.images.each do |image| %>
			<%= image_tag image["uri"] %>
		<% end %>

	<% end %>
	</div>


<% end %>
