<% @records.each do |record| %>
	

	<div class="record">
	<p><%= record.artists[0]["name"] %> — <%= record.title %></p>
	<% unless record.images.empty? %>
		<%= image_tag record.images.first["uri"] %>
	<% end %>
	</div>
	
	
<% end %>