/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  padding: $gutter;
  width: 100%;
  font-size: 1.5rem;
  button {
    position: absolute;
    background: transparent;
    border: 0;
    right: 0;
    color: white;
    top: 0;
    height: 100%;
    width: 3em;
  }
}
.alert-info {
  background: $secondary;
}
.alert-warning {
  background: $secondary;
}
