header {
  padding: $gutter;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  #site-logo {
    width: 16.66666666667%
  }
  #navigation {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.login {
  list-style-type: none;
  text-decoration: none;
  color: $secondary;
}