header {
  padding: $gutter;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  #site-logo {
    width: 16.66666666667%;
    svg {
      fill: $secondary;
    }
  }
  #navigation {
    position: absolute;
    margin-top: $gutter;
    top: 0;
    right: 0;
  }
}
#login {
  text-decoration: none;
  color: $secondary;
  border: 1px solid $secondary;
  padding: 10px 15px;
}