header {
  padding: $gutter;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  #site-logo {
    width: 16.66666666667%;
    svg {
      fill: $secondary;
    }
  }
  #navigation {
    position: absolute;
    top: 0;
    right: 0;
  }
}
li {
  list-style-type: none;
  a {
    text-decoration: none;
    color: inherit;
  }
}