.indic {
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .found-number {
    font-size: 1rem;
  }
  &.indic-wanted {
    fill: transparent;
  }
  &.indic-dig {
    transition: all 200ms ease;
    border: 2px solid transparent;
    border-radius: 50%;
    .add {
      transition: transform 100ms ease;
      transform-origin: center;
      transform: scale(1);
    }
    .arrow {
      transition: all 200ms ease;
      transform: scale(1);
      transform-origin: center;
      opacity: 1;
    }
    &:hover {
      border-color: $secondary;
      border-radius: 50%;
      transform: scale(0.92);
      .add {
        transform: scale(0.9);
      }
      .arrow {
        transform: scale(0);
        opacity: 0;
      }
    }
  }
  svg.dig {
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .circular{
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .path {
    stroke: $secondary;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  }

}