$record-height: 13vw;

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.001% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX($gutter);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0
  }
  30% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px
  }
}

#records-list {
  margin-top: 5px;
  .record {
    position: relative;
    vertical-align: top;
    margin-top: $gutter;
    border-top: 3px inset $secondary;
    transition: border-top 150ms ease;
    height: $record-height;
    display: inline;
    margin-right: 2vw;
    &:hover {
      h2 {
        // animation: wave 1s infinite alternate;
      }
    }
    &.wanted .record-infos{
      // background: blue;
      &.found .record-infos{
        // background: yellow;
      }
    }
    .record-infos {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 25vw;
      height: $record-height;
      h2 {
        margin-top: ($gutter/2.8);
      }
      .indic {
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.indic-wanted {
          fill: transparent;
        }
        &.indic-dig {
          transition: all 200ms ease;
          border: 2px solid transparent;
          border-radius: 50%;
          .add {
            transition: transform 100ms ease;
            transform-origin: center;
            transform: scale(0);
          }
          .arrow {
            transition: all 200ms ease;
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
          }
          &:hover {
            border-color: $secondary;
            border-radius: 50%;
            transform: scale(0.92);
            .add {
              transform: scale(1);
            }
            .arrow {
              transform: scale(0);
              opacity: 0;
            }
          }
        }
        svg.dig {
          height: 100%;
          transform-origin: center center;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .circular{
          animation: rotate 2s linear infinite;
          height: 100%;
          transform-origin: center center;
          width: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
        .path {
          stroke: $secondary;
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        }

      }
    }
    

    .record-content {
     display: inline;
     margin-bottom: $gutter;
   }

   .album-cover {
    display: inline-block;
      // padding-right: ($gutter);
      padding-top: ($gutter/2);
      width: $record-height;
      height: $record-height;
      &:last-child {
        padding-right: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center left;
        margin-bottom: ($gutter);
      }
    }
    form {
      // display: none;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

