.container {
  display: flex;
  text-transform: uppercase;
}
.cover {
  width: 140%;
  padding-left: $gutter;
}


// .record-content {
// 	display: flex;
// }
// .cover {
//   display: block;
// }
// .infos {
// 	padding-left: calc(#{$gutter} * 2);
// 	width: 30vw;
//     .indic {
//       position: relative;
//     }
//   .item-infos {
//     border-top: 3px inset $secondary;
//     padding-top: 0.9vw;
// 	}
// }
// .categories {
// 	text-transform: capitalize;
// } 