.container {
  h2 {
    margin-top: ($gutter/2.8);
  }
  border-top: 3px solid $primary;
  text-transform: uppercase;  
  display: flex;
  width: 90%;
  p {
    margin-bottom: 3em;
  }
  color: $primary;
  z-index: 202;
}
.panel {
  background-color: $secondary;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 30%;
  z-index: 201;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  width: 100%;
  margin-top: ($gutter/2.8);
}
#slideout {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #333;
  position: fixed;
  top: 100px;
  left: -520px;
  width: 500px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout.on {
  left: 0;
}

// .record-content {
// 	display: flex;
// }
// .cover {
//   display: block;
// }
// .infos {
// 	padding-left: calc(#{$gutter} * 2);
// 	width: 30vw;
//     .indic {
//       position: relative;
//     }
//   .item-infos {
//     border-top: 3px inset $secondary;
//     padding-top: 0.9vw;
// 	}
// }
// .categories {
// 	text-transform: capitalize;
// } 