.slider {
  width: 100%;
  height: 30vw;
  z-index: 0;
  .flickity-slider {
    transform: none !important;
  }
  .slider-right {
    position: absolute;
    top: 0;
    left: 37.5%;
    height: 100%;
    width: 85%;
    padding-left: 3%;
    background: white;
    z-index: 300;
  }
  .current-infos {
    margin-top: 80px;
  }
}

.slide {
  height: 100%;
  transform-origin: bottom;
  transition: left 1s ease;
  left: 100% !important;
  transform: none !important;
  img {
    height: 100%;
  }
}
.slide.is-selected {
  left: 0 !important;
  filter: blur(0px);
  transform: scale(1);
}
